{% extends 'base.html' %}

{% block title %}
Contact
{% endblock title %}
{% block body %}
<div class="content_contact">
    <form method="POST" action="/contact">
        {% csrf_token %}
        <input type="text" name="user" id="name" placeholder="Enter your name" required>
        <input type="text" name="email" id="email" placeholder="Enter your email" required>
        <input type="text" name="phone" id="no" placeholder="Enter your no." required>
        <input type="text" name="role" id="role" placeholder="Enter your role" required>
        <button type="submit" id="submit" onclick="validate()">Submit</button>
    </form>
    
    <h1 id="headddd" style="font-size: 50px;"></h1>
</div>
{% endblock body %}